body {
  background-color: #2C2B3D;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

.page {
  width: 1280px;
  margin: 0 auto;
  border: #00BFA6 solid 1px;
}

nav {
  border: #00BFA6 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 71px;
}

nav a {
  width: 168px;
  height: 23px;
}

ul {
  list-style: none;
  display: flex;
  padding: 0px;
  gap: 64px;
}

ul li a:hover {
  font-weight: bold;
  color: #00BFA6;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

main img {
  width: 401px;
  height: 283px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  justify-content: end;
}

h1 span {
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #C2C2C2;
  height: 168px;
  width: 604px;
}

footer {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
}

.line {
  width: 568px;
  height: 0;
  border: 1px solid #00BFA6;
  margin: 100px auto 8px;
}

#padlock {
  position: fixed;
  bottom: 0;
  left: 0;
}